In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
path = 'pokemon_data.csv'
pokemon = pd.read_csv(path)

In [3]:
type(pokemon)

pandas.core.frame.DataFrame

In [4]:
pokemon.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [5]:
pokemon.type1.str.upper()

0        GRASS
1        GRASS
2        GRASS
3         FIRE
4         FIRE
        ...
796      STEEL
797      GRASS
798       DARK
799    PSYCHIC
800      STEEL
Name: type1, Length: 801, dtype: object

In [6]:
pokemon.columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'],
      dtype='object')

In [10]:
#loc() function allows me to locate certain row(s)
#pandas allows me to use indexing where instead of an index, we use a condition
pikachu = pokemon.loc[pokemon.name == 'Pikachu']

In [11]:
pikachu.hp

24    35
Name: hp, dtype: int64

In [13]:
print(int(pokemon.hp.max()))

255

In [15]:
#loc function allows us to pull a certain attribute from the row
#.item() will convert our panda object into a data tyoe we recognize
strong_pokemon = pokemon.loc[pokemon.hp == 255, 'name'].item()

In [16]:
strong_pokemon

'Blissey'

In [17]:
strong_pokemon = pokemon.loc[pokemon.hp == 255]

In [18]:
strong_pokemon

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
241,"['Natural Cure', 'Serene Grace', 'Healer']",1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,0.0,...,0.0,242,75,135,55,normal,NaN,46.8,2,0

In [19]:
type(strong_pokemon)

pandas.core.frame.DataFrame

In [20]:
strong_pokemon = pokemon.loc[pokemon.hp == 255, 'name'].item()

In [21]:
strong_pokemon

'Blissey'

In [22]:
type(strong_pokemon)

str